@import '../../../assets/styles/fonts';

.index-with-icon-container {
  color: white;

  .index-icon-container {
    padding-bottom: 5pt;
  }

  .subtitle {
    font-size: 0.5vw;
    line-height: 0.3vw;
    font-family: $secondary-font;
  }

  .text-content {
    font-size: 2.4vw;
    line-height: normal;
  }

  .prefix,
  .postfix {
    font-size: 1vw;
  }

  .text-container {
    display: flex;
    align-items: flex-end;
  }
}

.index-with-icon-container > * {
  display: flex;
  justify-content: center;
}
