{
  "extends": ["react-app", "plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    // "no-unused-vars": "error",
    "no-useless-concat": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-unresolved": "off",
    "import/named": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "ignorePatterns": ["**/node_modules/**"]

}
