.stream-activation-wrapper {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 10px;
  z-index: 99999;
}

.stream-snapshot-wrapper {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 10px;
  z-index: 900;
}

.disabled-stream-div {
  position: absolute;
  background-color: #a8a8a8;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

.stream-disabled-icon {
}
